<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Frontend</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/frontend.css">
</head>
<body>
	<header>
		<img src="">
		<nav>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#">Productos</a></li>
				<li><a href="#">Quienes somos</a></li>
				<li><a href="#">Contactanos</a></li>
			</ul>
		</nav>
	</header>
	<div id="principal">
		<div id="contenidos"></div>
		<div id="lateral"></div>
	</div>
</body>
</html>